{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron d-flex flex-column">
        <h1 class="display-4">{{ user.username }}</h1>

        {% if user.email %}
        <p class="lead">E-mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

        {% if user.about %}
        <p class="lead">{{ user.about }}</p>
        {% endif %}
        
        {% if user.location %}
        <hr class="my-4">
        <p>Location: <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a></p>
        {% endif %}
        <div class="d-inline-flex justify-content-end">
            <a class="btn btn-outline-dark" href="#" role="button">編輯個人資料</a>
        </div>
    </div>
</div>

{% endblock %}