{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% for message in get_flashed_messages(category_filter=["success"]) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <div class="jumbotron d-flex flex-column">
        <h1 class="display-4">{{ user.username }}</h1>

        {% if user.email %}
        <p class="lead">E-mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

        {% if user.about %}
        <p class="lead">About Me: {{ user.about }}</p>
        {% endif %}

        {% if user.location %}
        
        <div>
            <hr class="my-4">
        </div>

        <p>Location: <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a></p>
        {% endif %}
        <div class="d-inline-flex justify-content-end">
            <a class="btn btn-outline-dark" href="{{ url_for('main.edit_profile') }}" role="button">編輯個人資料</a>
        </div>
    </div>
</div>

{% endblock %}